@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: #58606e;
  background-color: #f7f7f7;
}

a {
  color: #333333;
  text-decoration: none;
  font-weight: 400;
}

.Hero {
  margin: 0 auto;
  max-width: 1400px;
  text-align: center;
}
.HeroGroup {
  margin: 0;
  padding: 0;
}

.Flag {
  background-color: #ee4444;
  padding: 160px 45px 56px 45px;
}

.HeroText {
  font-size: 86px;
  padding: 40px 20px 100px 20px;
  margin: 0;
  color: #ffffff;
  font-weight: 600;
}

.HeroUnderline {
  font-size: 164px;
  font-weight: 700;
  padding: 220px 40px 100px 40px;
  margin: 0px;
  color: #333333;
  text-decoration: underline;
  text-decoration-color: #ee4444;
}

.HeroDescription {
  font-size: 24px;
  padding: 30px 30px 100px 30px;
  max-width: 840px;
  margin: 0 auto;
  line-height: 1.7;
  color: #333333;
}

.movGroup {
  width: 100%;
  height: 700px;
  background-image: url('../images/timelineOverlay.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 160px 0;
}

.video {
  position: relative;
}

.mov {
  max-width: 90%;
  margin: 0 auto;
  padding: 56px 0px 96px 0px;
}

.planSection {
  padding: 200px 80px 200px 80px;
  margin: 0;
  background-color: #f7f7f7;
}

.featureContainer {
  margin: 0 auto;
  max-width: 1352px;
  padding-top: 58px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
  grid-gap: 24px;
}

.sectionTitle {
  margin: 16px;
  padding: 16px;
  text-align: center;
  font-size: 56px;
}

/* .sectionDescription {
  margin: 16px auto;
  padding: 16px;
  text-align: center;
  font-size: 14px;
  max-width: 656px;
} */

.sectionDescription {
  font-size: 24px;
  text-align: center;
  padding: 30px 36px 100px 36px;
  max-width: 860px;
  margin: 0 auto;
  line-height: 1.7;
  color: #333333;
}

.timelineContainer {
  height: 600px;
  width: 100%;
  background-color: grey;
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: url('../images/timeline.png');
  background-size: cover;
  background-position: center;
}

@media (max-width: 640px) {
  .HeroText {
    font-size: 70px;
    padding: 150px 50px 100px 50px;
  }
  .HeroDescription {
    font-size: 18px;
    padding: 8px 48px;
    margin: 0px;
  }
}
